# Table of Contents
 <p><div class="lev1"><a href="#albums-tracks-(-detail-)"><span class="toc-item-num">1&nbsp;&nbsp;</span>albums tracks ( detail )</a></div><div class="lev1"><a href="#albums-tracks-(-summary-)"><span class="toc-item-num">2&nbsp;&nbsp;</span>albums tracks ( summary )</a></div><div class="lev1"><a href="#albums-tracks"><span class="toc-item-num">3&nbsp;&nbsp;</span>albums tracks</a></div><div class="lev1"><a href="#albums-tracks"><span class="toc-item-num">4&nbsp;&nbsp;</span>albums tracks</a></div>

In [1]:
import pandas as pd

import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO

#+BEGIN_EXAMPLE
CREATE TABLE albums (
        album_id INTEGER   NOT NULL   PRIMARY KEY,
        album_name TEXT );

CREATE TABLE tracks (
        track_id INTEGER   NOT NULL   PRIMARY KEY,
        track_name TEXT,
        track_number INTEGER,
        track_length INTEGER, -- in seconds
        album_id INTEGER   NOT NULL   REFERENCES albums );
#+END_EXAMPLE

#+BEGIN_EXAMPLE
INSERT INTO albums VALUES ( 1, "The Indigo Album" );
INSERT INTO tracks VALUES ( 1, "Metal Onion", 1, 137, 1 );
INSERT INTO tracks VALUES ( 2, "Smooth Snake", 2, 212, 1 );
INSERT INTO tracks VALUES ( 3, "Turn A", 3, 255, 1 );

INSERT INTO albums VALUES ( 2, "Morning Jazz" );
INSERT INTO tracks VALUES ( 4, "In the Bed", 1, 214, 2 );
INSERT INTO tracks VALUES ( 5, "Water All Around", 2, 194, 2 );
INSERT INTO tracks VALUES ( 6, "Time Soars", 3, 265, 2 );
INSERT INTO tracks VALUES ( 7, "Liquid Awareness", 4, 175, 2 );
#+END_EXAMPLE

#+BEGIN_EXAMPLE
sqlite> SELECT album_name, track_name, track_number
   ...>   FROM albums JOIN tracks USING ( album_id )
   ...>   ORDER BY album_name, track_number;

album_name    track_name  track_number
------------  ----------  ------------
Morning Jazz  In the Bed  1
Morning Jazz  Water All   2
Morning Jazz  Time Soars  3
Morning Jazz  Liquid Awa  4
The Indigo A  Metal Onio  1
The Indigo A  Smooth Sna  2
The Indigo A  Turn A      3

#+END_EXAMPLE

# albums tracks ( detail )

#+BEGIN_EXAMPLE
album_id album_name
       1          A
       2          B

track_id trak_name trak_number track_length album_id
       1        a1           1          137        1
       2        a2           1          212        1
       3        a3           1          214        1
       4        b1           1          194        2
       5        b2           2          265        2
       6        b3           3          174        2
       7        b4           4          173        2
#+END_EXAMPLE

In [2]:
album = pd.read_csv(StringIO('''
album_id album_name
       1          A
       2          B
'''),
delim_whitespace=True
)
album

   album_id album_name
0         1          A
1         2          B

In [3]:
track = pd.read_csv(StringIO('''
track_id track_name track_number track_length album_id
       1        a1           1          137        1
       2        a2           1          212        1
       3        a3           1          214        1
       4        b1           1          194        2
       5        b2           2          265        2
       6        b3           3          174        2
       7        b4           4          173        2
'''),
delim_whitespace=True
)
track

   track_id track_name  track_number  track_length  album_id
0         1         a1             1           137         1
1         2         a2             1           212         1
2         3         a3             1           214         1
3         4         b1             1           194         2
4         5         b2             2           265         2
5         6         b3             3           174         2
6         7         b4             4           173         2

In [4]:
pd.merge(album, track)

   album_id album_name  track_id track_name  track_number  track_length
0         1          A         1         a1             1           137
1         1          A         2         a2             1           212
2         1          A         3         a3             1           214
3         2          B         4         b1             1           194
4         2          B         5         b2             2           265
5         2          B         6         b3             3           174
6         2          B         7         b4             4           173

In [5]:
df = pd.merge(album, track).drop(['album_id', 'track_id'], axis=1)

In [6]:
df

  album_name track_name  track_number  track_length
0          A         a1             1           137
1          A         a2             1           212
2          A         a3             1           214
3          B         b1             1           194
4          B         b2             2           265
5          B         b3             3           174
6          B         b4             4           173

In [7]:
# normalize

In [8]:
albums_cols = ["album_name"]
albums = df[albums_cols].drop_duplicates()
albums

  album_name
0          A
3          B

In [9]:
albums = albums.reset_index(drop=True)

In [10]:
albums

  album_name
0          A
1          B

In [11]:
albums["album_id"] = albums.index

In [12]:
albums

  album_name  album_id
0          A         0
1          B         1

In [13]:
 pd.merge(df, albums, on=["album_name"])

  album_name track_name  track_number  track_length  album_id
0          A         a1             1           137         0
1          A         a2             1           212         0
2          A         a3             1           214         0
3          B         b1             1           194         1
4          B         b2             2           265         1
5          B         b3             3           174         1
6          B         b4             4           173         1

In [14]:
 pd.merge(df, albums, on=["album_name"]) [['album_id', 'track_name', 'track_number', 'track_length']]

   album_id track_name  track_number  track_length
0         0         a1             1           137
1         0         a2             1           212
2         0         a3             1           214
3         1         b1             1           194
4         1         b2             2           265
5         1         b3             3           174
6         1         b4             4           173

In [15]:
track =  pd.merge(df, albums, on=["album_name"]) [['album_id', 'track_name', 'track_number', 'track_length']]

In [16]:
track = track.reset_index(drop=True)

track["track_id"] = track.index

In [17]:
track

   album_id track_name  track_number  track_length  track_id
0         0         a1             1           137         0
1         0         a2             1           212         1
2         0         a3             1           214         2
3         1         b1             1           194         3
4         1         b2             2           265         4
5         1         b3             3           174         5
6         1         b4             4           173         6

# albums tracks ( summary )

In [18]:
album = pd.read_csv(StringIO('''
album_id album_name
       1          A
       2          B
'''),
delim_whitespace=True
)
album

track = pd.read_csv(StringIO('''
track_id track_name track_number track_length album_id
       1        a1           1          137        1
       2        a2           1          212        1
       3        a3           1          214        1
       4        b1           1          194        2
       5        b2           2          265        2
       6        b3           3          174        2
       7        b4           4          173        2
'''),
delim_whitespace=True
)
track

df = pd.merge(album, track).drop(['album_id', 'track_id'], axis=1)
df

  album_name track_name  track_number  track_length
0          A         a1             1           137
1          A         a2             1           212
2          A         a3             1           214
3          B         b1             1           194
4          B         b2             2           265
5          B         b3             3           174
6          B         b4             4           173

In [19]:
#songs_cols = ["year", "artist.inverted", "track", "time", "genre"]
#songs = billboard[songs_cols].drop_duplicates()
#songs = songs.reset_index(drop=True)
#songs["song_id"] = songs.index
#songs.head(10)

albums_cols = ["album_name"]
albums = df[albums_cols].drop_duplicates()
albums = albums.reset_index(drop=True)
albums["album_id"] = albums.index
albums.head(10)

  album_name  album_id
0          A         0
1          B         1

In [20]:
#ranks = pd.merge(billboard, songs, on=["year","artist.inverted", "track", "time", "genre"])
#ranks = ranks[["song_id", "date","rank"]]
#ranks.head(10)

track = pd.merge(df, albums, on=["album_name"])
track = track[['album_id', 'track_name', 'track_number', 'track_length']]
track

   album_id track_name  track_number  track_length
0         0         a1             1           137
1         0         a2             1           212
2         0         a3             1           214
3         1         b1             1           194
4         1         b2             2           265
5         1         b3             3           174
6         1         b4             4           173

http://www.jeannicholashould.com/tidy-data-in-python.html

Multiple types in one table

In [21]:
END

NameError: name 'END' is not defined

# albums tracks

In [ ]:
df = pd.read_csv(StringIO('''
album_id album_name track_id track_name
       1          A        1         a1
       1          A        2         a1
       2          B        3         b1
       2          B        4         b2
       2          B        5         b3
'''),
#delimiter=','
delim_whitespace=True
)
df

In [ ]:
albums_cols = ["album_id", "album_name"]
albums = df[albums_cols].drop_duplicates()
albums

In [ ]:
pd.merge(df, albums, on=["album_id", "album_name"])

In [ ]:
pd.merge(df, albums, on=["album_id", "album_name"])[['track_id', 'track_name']]

In [ ]:
tracks = pd.merge(df, albums, on=["album_id", "album_name"])[['track_id', 'track_name']]
tracks

# albums tracks

In [ ]:
    
df = pd.read_csv(StringIO('''
album_name track_id track_name
         A        1         a1
         A        2         a1
         B        3         b1
         B        4         b2
         B        5         b3
'''),
#delimiter=','
delim_whitespace=True
)
df

In [ ]:
albums_cols = ["album_name"]
albums = df[albums_cols].drop_duplicates()
albums

albums = albums.reset_index(drop=True)
albums["album_id"] = albums.index
albums