# Table of Contents
 <p><div class="lev1"><a href="#time-now"><span class="toc-item-num">1&nbsp;&nbsp;</span>time now</a></div><div class="lev2"><a href="#list-tables"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>list tables</a></div><div class="lev2"><a href="#list-table-columns"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>list table columns</a></div><div class="lev1"><a href="#time-utc-now"><span class="toc-item-num">2&nbsp;&nbsp;</span>time utc now</a></div><div class="lev1"><a href="#pandas"><span class="toc-item-num">3&nbsp;&nbsp;</span>pandas</a></div>

SQLite

In [1]:
!ls *.db

hello.db world.db

In [2]:
!rm hello.db

# time now

sqlite timestamp DATETIME

In [3]:
from sqlalchemy import Table, Column, Integer, Numeric, String
from sqlalchemy.ext.declarative import declarative_base

In [4]:
Base = declarative_base()

In [5]:
from datetime import datetime
from sqlalchemy import DateTime


class User(Base):
    __tablename__ = 'users'

    user_id = Column(Integer(), primary_key=True)
    username = Column(String(15), nullable=False, unique=True)
    email_address = Column(String(255), nullable=False)
    phone = Column(String(20), nullable=False)
    password = Column(String(25), nullable=False)
    created_on = Column(DateTime(), default=datetime.now)
    updated_on = Column(DateTime(), default=datetime.now, onupdate=datetime.now)

In [6]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///hello.db')

Base.metadata.create_all(engine)

In [7]:
ls *.db

hello.db  world.db

In [8]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

engine = create_engine('sqlite:///hello.db')

Session = sessionmaker(bind=engine)

session = Session()

In [9]:
user = User(username='hello',
            email_address='hello@world',
            phone='123',
            password='abc')

session.add(user)
session.commit()

In [10]:
user = User(username='世界',
            email_address='hello@world',
            phone='123',
            password='abc')

session.add(user)
session.commit()

In [11]:
%load_ext sql

In [12]:
%%sql sqlite:///hello.db

select * from users

Done.

[(1, 'hello', 'hello@world', '123', 'abc', '2017-02-10 00:25:11.690354', '2017-02-10 00:25:11.690376'),
 (2, '世界', 'hello@world', '123', 'abc', '2017-02-10 00:25:11.707528', '2017-02-10 00:25:11.707544')]

In [13]:
%sql sqlite:///hello.db

'Connected: None@hello.db'

## list tables

In [14]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'

Done.

[('users',)]

## list table columns

In [15]:
%%sql
PRAGMA table_info(users)

Done.

[(0, 'user_id', 'INTEGER', 1, None, 1),
 (1, 'username', 'VARCHAR(15)', 1, None, 0),
 (2, 'email_address', 'VARCHAR(255)', 1, None, 0),
 (3, 'phone', 'VARCHAR(20)', 1, None, 0),
 (4, 'password', 'VARCHAR(25)', 1, None, 0),
 (5, 'created_on', 'DATETIME', 0, None, 0),
 (6, 'updated_on', 'DATETIME', 0, None, 0)]

In [16]:
%%sql
select * from users

Done.

[(1, 'hello', 'hello@world', '123', 'abc', '2017-02-10 00:25:11.690354', '2017-02-10 00:25:11.690376'),
 (2, '世界', 'hello@world', '123', 'abc', '2017-02-10 00:25:11.707528', '2017-02-10 00:25:11.707544')]

In [17]:
!ls world.db

world.db

In [18]:
!rm world.db

# time utc now

sqlite timestamp DATETIME

In [19]:
from sqlalchemy import Table, Column, Integer, Numeric, String
from sqlalchemy.ext.declarative import declarative_base

from datetime import datetime
from sqlalchemy import DateTime

Base = declarative_base()

class User(Base):
    __tablename__ = 'users'

    user_id = Column(Integer(), primary_key=True)
    username = Column(String(15), nullable=False, unique=True)
    email_address = Column(String(255), nullable=False)
    phone = Column(String(20), nullable=False)
    password = Column(String(25), nullable=False)
    created_on = Column(DateTime(), default=datetime.utcnow)
    updated_on = Column(DateTime(), default=datetime.now, onupdate=datetime.utcnow)

In [20]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///world.db')

Base.metadata.create_all(engine)

In [21]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

engine = create_engine('sqlite:///world.db')

Session = sessionmaker(bind=engine)

session = Session()

user = User(username='hello',
            email_address='hello@world',
            phone='123',
            password='abc')

session.add(user)
session.commit()

user = User(username='世界',
            email_address='hello@world',
            phone='123',
            password='abc')

session.add(user)
session.commit()

In [22]:
%%sql sqlite:///world.db

select * from users

Done.

[(1, 'hello', 'hello@world', '123', 'abc', '2017-02-09 16:25:13.257705', '2017-02-10 00:25:13.257718'),
 (2, '世界', 'hello@world', '123', 'abc', '2017-02-09 16:25:13.261122', '2017-02-10 00:25:13.261134')]

# pandas

In [23]:
import pandas as pd

In [24]:
result = %sql SELECT * FROM users

df = result.DataFrame()

Done.

In [25]:
df

,user_id,username,email_address,phone,password,created_on,updated_on
0,1,hello,hello@world,123,abc,2017-02-09 16:25:13.257705,2017-02-10 00:25:13.257718
1,2,世界,hello@world,123,abc,2017-02-09 16:25:13.261122,2017-02-10 00:25:13.261134