In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from IPython.core.display import HTML
HTML('<style>{}</style>'.format(open('./color_df.css').read()))

In [3]:
import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO

In [4]:
import pandas as pd

In [5]:
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
import matplotlib
matplotlib.style.use('ggplot')

In [28]:
df = pd.read_csv(StringIO('''
UID;Ring1;Ring2;Ring3
    uid1;4.4;99;8
    uid2;;200;99
    uid3;4.7;;77
    uid5;3.2;140;88
    uid2;3.2;140;
'''),
sep=";")

In [16]:
df

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0    8.0
1      uid2    NaN  200.0   99.0
2      uid3    4.7    NaN   77.0
3      uid5    3.2  140.0   88.0
4      uid2    3.2  140.0    NaN

In [17]:
df.dropna()

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0    8.0
3      uid5    3.2  140.0   88.0

In [13]:
df.dropna(subset=['Ring2'])

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0      8
1      uid2    NaN  200.0     99
3      uid5    3.2  140.0     88

In [29]:
df

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0    8.0
1      uid2    NaN  200.0   99.0
2      uid3    4.7    NaN   77.0
3      uid5    3.2  140.0   88.0
4      uid2    3.2  140.0    NaN

In [33]:
df.duplicated(keep=False)
df.duplicated(subset='UID', keep=False)
df.duplicated(subset=['Ring1', 'Ring2'], keep=False)

0    False
1    False
2    False
3    False
4    False
dtype: bool

0    False
1     True
2    False
3    False
4     True
dtype: bool

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [34]:
df.drop_duplicates()

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0    8.0
1      uid2    NaN  200.0   99.0
2      uid3    4.7    NaN   77.0
3      uid5    3.2  140.0   88.0
4      uid2    3.2  140.0    NaN

In [35]:
df.drop_duplicates(subset='UID')

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0    8.0
1      uid2    NaN  200.0   99.0
2      uid3    4.7    NaN   77.0
3      uid5    3.2  140.0   88.0

In [ ]:
#df.drop_duplicates(subset='UID', inplace=True)

In [42]:
#Create a new function:
def num_missing(x):
  return sum(x.isnull())

def check_missing_column(df):
    #Applying per column:
    print("Missing values per column:")
    print(df.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column

def check_missing_row(df):
    #Applying per row:
    print("\nMissing values per row:")
    print(df.apply(num_missing, axis=1).head()) #axis=1 defines that function is to be applied on each row

In [43]:
df

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0    8.0
1      uid2    NaN  200.0   99.0
2      uid3    4.7    NaN   77.0
3      uid5    3.2  140.0   88.0
4      uid2    3.2  140.0    NaN

In [44]:
check_missing_row(df)

Missing values per row:
0    0
1    1
2    1
3    0
4    1
dtype: int64

In [45]:
check_missing_column(df)

Missing values per column:
UID      0
Ring1    1
Ring2    1
Ring3    1
dtype: int64