In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from IPython.core.display import HTML
HTML('<style>{}</style>'.format(open('./color_df.css').read()))

In [3]:
import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO

In [22]:
import pandas as pd
import numpy as np

In [5]:
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
import matplotlib
matplotlib.style.use('ggplot')

In [7]:
df = pd.read_csv(StringIO('''
UID;Ring1;Ring2;Ring3
    uid1;4.4;99;8
    uid2;;200;99
    uid3;4.7;;77
    uid5;3.2;140;88
    uid2;3.2;140;
'''),
sep=";")

In [8]:
df

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0    8.0
1      uid2    NaN  200.0   99.0
2      uid3    4.7    NaN   77.0
3      uid5    3.2  140.0   88.0
4      uid2    3.2  140.0    NaN

In [9]:
df.dropna()

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0    8.0
3      uid5    3.2  140.0   88.0

In [10]:
df.dropna(subset=['Ring2'])

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0    8.0
1      uid2    NaN  200.0   99.0
3      uid5    3.2  140.0   88.0
4      uid2    3.2  140.0    NaN

In [11]:
df

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0    8.0
1      uid2    NaN  200.0   99.0
2      uid3    4.7    NaN   77.0
3      uid5    3.2  140.0   88.0
4      uid2    3.2  140.0    NaN

In [12]:
df.duplicated(keep=False)
df.duplicated(subset='UID', keep=False)
df.duplicated(subset=['Ring1', 'Ring2'], keep=False)

0    False
1    False
2    False
3    False
4    False
dtype: bool

0    False
1     True
2    False
3    False
4     True
dtype: bool

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [13]:
df.drop_duplicates()

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0    8.0
1      uid2    NaN  200.0   99.0
2      uid3    4.7    NaN   77.0
3      uid5    3.2  140.0   88.0
4      uid2    3.2  140.0    NaN

In [14]:
df.drop_duplicates(subset='UID')

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0    8.0
1      uid2    NaN  200.0   99.0
2      uid3    4.7    NaN   77.0
3      uid5    3.2  140.0   88.0

In [15]:
#df.drop_duplicates(subset='UID', inplace=True)

In [16]:
#Create a new function:
def num_missing(x):
  return sum(x.isnull())

def check_missing_column(df):
    #Applying per column:
    print("Missing values per column:")
    print(df.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column

def check_missing_row(df):
    #Applying per row:
    print("\nMissing values per row:")
    print(df.apply(num_missing, axis=1).head()) #axis=1 defines that function is to be applied on each row

In [17]:
df

        UID  Ring1  Ring2  Ring3
0      uid1    4.4   99.0    8.0
1      uid2    NaN  200.0   99.0
2      uid3    4.7    NaN   77.0
3      uid5    3.2  140.0   88.0
4      uid2    3.2  140.0    NaN

In [18]:
check_missing_row(df)

Missing values per row:
0    0
1    1
2    1
3    0
4    1
dtype: int64

In [19]:
check_missing_column(df)

Missing values per column:
UID      0
Ring1    1
Ring2    1
Ring3    1
dtype: int64

In [23]:
df = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df.iloc[1:3,1] = np.nan
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan

In [30]:
df.columns = ['A', 'B', 'C', 'D', 'E', 'F']
df

          A         B         C         D         E         F
0 -1.331515  1.244285  1.900853  0.320248 -0.251223 -0.375285
1  0.383979       NaN -2.121020  0.191709 -0.349125 -1.836530
2  0.578000       NaN -0.649135 -1.133605  0.805245  0.548291
3 -0.192765  1.045930  0.633079  0.132568 -0.669830 -0.262614
4  0.443654 -0.145486  1.208387  0.102516 -0.810705 -1.147557
5 -1.334338 -1.330176  0.859207       NaN -0.947940 -0.920174
6 -0.398044 -0.096049 -0.238592 -1.273922  0.242424  0.861547
7  0.213753  0.976588 -0.672583  2.199769 -0.714797       NaN
8 -1.772567 -0.449650  1.403952  0.494761  2.845588       NaN
9 -1.705799 -1.073321 -0.859580 -1.424579 -1.679016  0.002727

In [31]:
df.isnull().values.any()

True

In [81]:
def check_null_in_column(df):
    ser = df.apply(lambda x: sum(x.isnull()), axis=0)
    print("Missing values per column:")
    if ser.empty:
        return
    for k, v in ser.iteritems():
        print('%s: %s' %(k, v))
    #return ser
    
def check_null_in_row(df):
    ser = df.apply(lambda x: sum(x.isnull()), axis=1).head() #axis=1 defines that function is to be applied on each row
    
    if ser.empty:
        return
    
    print("\nMissing values per row:")
    for k,v  in ser.iteritems():        
        print('%s: %s' %(k, v))
    #return ser

In [82]:
check_null_in_row(df)

Missing values per row:
0: 0
1: 1
2: 1
3: 0
4: 0

In [83]:
check_null_in_column(df)

Missing values per column:
A: 0
B: 2
C: 0
D: 1
E: 0
F: 2