# Table of Contents
 <p><div class="lev1"><a href="#albums-tracks"><span class="toc-item-num">1&nbsp;&nbsp;</span>albums tracks</a></div><div class="lev1"><a href="#albums-tracks"><span class="toc-item-num">2&nbsp;&nbsp;</span>albums tracks</a></div>

In [4]:
import pandas as pd

import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO

# albums tracks

In [5]:
df = pd.read_csv(StringIO('''
album_id album_name track_id track_name
       1          A        1         a1
       1          A        2         a1
       2          B        3         b1
       2          B        4         b2
       2          B        5         b3
'''),
#delimiter=','
delim_whitespace=True
)
df

   album_id album_name  track_id track_name
0         1          A         1         a1
1         1          A         2         a1
2         2          B         3         b1
3         2          B         4         b2
4         2          B         5         b3

In [9]:
albums_cols = ["album_id", "album_name"]
albums = df[albums_cols].drop_duplicates()
albums

   album_id album_name
0         1          A
2         2          B

In [11]:
pd.merge(df, albums, on=["album_id", "album_name"])

   album_id album_name  track_id track_name
0         1          A         1         a1
1         1          A         2         a1
2         2          B         3         b1
3         2          B         4         b2
4         2          B         5         b3

In [12]:
pd.merge(df, albums, on=["album_id", "album_name"])[['track_id', 'track_name']]

   track_id track_name
0         1         a1
1         2         a1
2         3         b1
3         4         b2
4         5         b3

In [14]:
tracks = pd.merge(df, albums, on=["album_id", "album_name"])[['track_id', 'track_name']]
tracks

   track_id track_name
0         1         a1
1         2         a1
2         3         b1
3         4         b2
4         5         b3

# albums tracks

In [16]:
    
df = pd.read_csv(StringIO('''
album_name track_id track_name
         A        1         a1
         A        2         a1
         B        3         b1
         B        4         b2
         B        5         b3
'''),
#delimiter=','
delim_whitespace=True
)
df

  album_name  track_id track_name
0          A         1         a1
1          A         2         a1
2          B         3         b1
3          B         4         b2
4          B         5         b3

In [19]:
albums_cols = ["album_name"]
albums = df[albums_cols].drop_duplicates()
albums

albums = albums.reset_index(drop=True)
albums["album_id"] = albums.index
albums

  album_name  album_id
0          A         0
1          B         1

http://www.jeannicholashould.com/tidy-data-in-python.html

Multiple types in one table