# Table of Contents
 <p><div class="lev1"><a href="#Create-a-database"><span class="toc-item-num">1&nbsp;&nbsp;</span>Create a database</a></div><div class="lev1"><a href="#Perl-SQL"><span class="toc-item-num">2&nbsp;&nbsp;</span>Perl SQL</a></div>

# Create a database

In [2]:
import pandas as pd
from sqlalchemy import create_engine # database connection

import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO
    
df = pd.read_csv(StringIO('''
UID,r1,r2,ds
1, 100, 198, 2.3
2, 103, 201, 2.1
3, 97, 209, 1.8
'''),
delimiter=','
# delim_whitespace=True
)
df

   UID   r1   r2   ds
0    1  100  198  2.3
1    2  103  201  2.1
2    3   97  209  1.8

In [3]:
disk_engine = create_engine('sqlite:///hello.db')
# if_exists : {‘fail’, ‘replace’, ‘append’}, default ‘fail’
df.to_sql('ft', disk_engine, if_exists='replace', index=False)

In [4]:
pd.read_sql_query('SELECT * FROM ft', disk_engine)

   UID   r1   r2   ds
0    1  100  198  2.3
1    2  103  201  2.1
2    3   97  209  1.8

# Perl SQL

In [1]:
%%perl

use DBI;
use strict;

my $driver   = "SQLite";
my $database = "hello.db";
my $dsn = "DBI:$driver:dbname=$database";

my $userid = "";
my $password = "";
my $dbh = DBI->connect($dsn, $userid, $password, { RaiseError => 1 })
                      or die $DBI::errstr;
print "Opened database successfully\n";

my $stmt = qq(SELECT * from ft;);
my $sth = $dbh->prepare( $stmt );
my $rv = $sth->execute() or die $DBI::errstr;
if($rv < 0){
   print $DBI::errstr;
}
while(my @row = $sth->fetchrow_array()) {
      print "ID = ". $row[0] . "\n";
      print "NAME = ". $row[1] ."\n";
      print "ADDRESS = ". $row[2] ."\n";
      print "SALARY =  ". $row[3] ."\n\n";
}
print "Operation done successfully\n";
$dbh->disconnect();

Opened database successfully
ID = 1
NAME = 100
ADDRESS = 198
SALARY =  2.3

ID = 2
NAME = 103
ADDRESS = 201
SALARY =  2.1

ID = 3
NAME = 97
ADDRESS = 209
SALARY =  1.8

Operation done successfully

perl sqlite3

https://www.tutorialspoint.com/sqlite/sqlite_perl.htm