# Table of Contents
 <p><div class="lev1"><a href="#create/replace-a-new-table"><span class="toc-item-num">1&nbsp;&nbsp;</span>create/replace a new table</a></div><div class="lev1"><a href="#dataframe-from-sql"><span class="toc-item-num">2&nbsp;&nbsp;</span>dataframe from sql</a></div>

In [8]:
import pandas as pd
from sqlalchemy import create_engine # database connection

In [6]:
import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO
    
df = pd.read_csv(StringIO('''
UID,r1,r2,ds
1, 100, 198, 2.3
2, 103, 201, 2.1
3, 97, 209, 1.8
'''),
delimiter=','
# delim_whitespace=True
)
df

   UID   r1   r2   ds
0    1  100  198  2.3
1    2  103  201  2.1
2    3   97  209  1.8

# create/replace a new table

In [14]:
disk_engine = create_engine('sqlite:///hello.db')

In [15]:
# if_exists : {‘fail’, ‘replace’, ‘append’}, default ‘fail’
df.to_sql('ft', disk_engine, if_exists='replace', index=False)

In [16]:
ls *.db

hello.db

# dataframe from sql

In [20]:
df_sql = pd.read_sql_query('SELECT * FROM ft', disk_engine)
df_sql.head()

   UID   r1   r2   ds
0    1  100  198  2.3
1    2  103  201  2.1
2    3   97  209  1.8

Data Analysis of 8.2 Million Rows with Python and SQLite
https://plot.ly/python/big-data-analytics-with-pandas-and-sqlite/

Working with SQLite Databases using Python and Pandas
https://www.dataquest.io/blog/python-pandas-databases/

Open the file "data.db" in the current directory.

file:data.db

Open the database file "/home/fred/data.db".

file:/home/fred/data.db

file:///home/fred/data.db 

file://localhost/home/fred/data.db