# Table of Contents
 <p><div class="lev1"><a href="#generate-database-hello.db,-world.db"><span class="toc-item-num">1&nbsp;&nbsp;</span>generate database hello.db, world.db</a></div><div class="lev1"><a href="#load-sql-extension"><span class="toc-item-num">2&nbsp;&nbsp;</span>load sql extension</a></div><div class="lev1"><a href="#list-table"><span class="toc-item-num">3&nbsp;&nbsp;</span>list table</a></div><div class="lev1"><a href="#list-column,-schema"><span class="toc-item-num">4&nbsp;&nbsp;</span>list column, schema</a></div><div class="lev1"><a href="#connect-db"><span class="toc-item-num">5&nbsp;&nbsp;</span>connect db</a></div><div class="lev1"><a href="#pandas"><span class="toc-item-num">6&nbsp;&nbsp;</span>pandas</a></div>

# generate database hello.db, world.db

In [1]:
run sql_magic_utc_now_datetime.ipynb

hello.db  hellow.db helo.db   test.db   world.db
hello.db   hellow.db  helo.db    test.db    world.db
Done.
Done.
Done.
Done.
world.db
Done.
Done.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 7 columns):
user_id          2 non-null int64
username         2 non-null object
email_address    2 non-null object
phone            2 non-null object
password         2 non-null object
created_on       2 non-null object
updated_on       2 non-null object
dtypes: int64(1), object(6)
memory usage: 192.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 7 columns):
user_id          2 non-null int64
username         2 non-null object
email_address    2 non-null object
phone            2 non-null object
password         2 non-null object
created_on       2 non-null datetime64[ns]
updated_on       2 non-null object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 192.0+ bytes

# load sql extension

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# list table

In [3]:
%%sql sqlite:///hello.db

SELECT name FROM sqlite_master WHERE type='table'

Done.

[('users',)]

In [4]:
%%sql sqlite:///world.db

SELECT name FROM sqlite_master WHERE type='table'

Done.

[('users',)]

In [5]:
%%sql sqlite:///hello.db
PRAGMA table_info(users)

Done.

[(0, 'user_id', 'INTEGER', 1, None, 1),
 (1, 'username', 'VARCHAR(15)', 1, None, 0),
 (2, 'email_address', 'VARCHAR(255)', 1, None, 0),
 (3, 'phone', 'VARCHAR(20)', 1, None, 0),
 (4, 'password', 'VARCHAR(25)', 1, None, 0),
 (5, 'created_on', 'DATETIME', 0, None, 0),
 (6, 'updated_on', 'DATETIME', 0, None, 0)]

# list column, schema

In [6]:
%%sql sqlite:///hello.db
PRAGMA table_info(users)

Done.

[(0, 'user_id', 'INTEGER', 1, None, 1),
 (1, 'username', 'VARCHAR(15)', 1, None, 0),
 (2, 'email_address', 'VARCHAR(255)', 1, None, 0),
 (3, 'phone', 'VARCHAR(20)', 1, None, 0),
 (4, 'password', 'VARCHAR(25)', 1, None, 0),
 (5, 'created_on', 'DATETIME', 0, None, 0),
 (6, 'updated_on', 'DATETIME', 0, None, 0)]

# connect db

In [7]:
%sql sqlite:///hello.db

'Connected: None@hello.db'

In [8]:
%%sql
PRAGMA table_info(users)

Done.

[(0, 'user_id', 'INTEGER', 1, None, 1),
 (1, 'username', 'VARCHAR(15)', 1, None, 0),
 (2, 'email_address', 'VARCHAR(255)', 1, None, 0),
 (3, 'phone', 'VARCHAR(20)', 1, None, 0),
 (4, 'password', 'VARCHAR(25)', 1, None, 0),
 (5, 'created_on', 'DATETIME', 0, None, 0),
 (6, 'updated_on', 'DATETIME', 0, None, 0)]

# pandas

In [9]:
import pandas as pd

In [10]:
df = %sql SELECT * FROM users
df = df.DataFrame()
df.head()

Done.

,user_id,username,email_address,phone,password,created_on,updated_on
0,1,hello,hello@world,123,abc,2017-02-15 20:22:25.937488,2017-02-15 20:22:25.937517
1,2,世界,hello@world,123,abc,2017-02-15 20:22:25.948023,2017-02-15 20:22:25.948039